* {
    main-bg:            #171213E6;
    main-fg:            #ece0e1FF;
    main-br:            #edbd92E6;
    main-ex:            #d6c2c5E6;
    select-bg:          #ffb1c480;
    select-fg:          #5e112fFF;
    separatorcolor:     transparent;
    border-color:       #51434640;
}

