* {
    main-bg:            #0f1413E6;
    main-fg:            #dfe3e1FF;
    main-br:            #bdfff4E6;
    main-ex:            #a9cec7E6;
    select-bg:          #bdfff480;
    select-fg:          #003732FF;
    separatorcolor:     transparent;
    border-color:       #87939040;
}

